
.card-img-top{
    height: 180px;
    object-fit: contain;
}

.card {
    height: 350px;
}
.it-park-icons{
    background-position: center center;
    height: 55px;
    margin: -30px;
}
/* #banner{
    background-image: url('../img/RentCar.jpg');
    background-position: center center;
    height: 400px;
} */